
@tool-width: 140px;

.tool-panel() {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: @tool-width;
  z-index: 2;
  background: #fff;
  padding: 10px 5px;
  font-size: 10px;
}

.tool-panel{
  min-width: 60px;
  height: 100%;
  border: solid 1px rgba(0,0,0,0.1);
  position: relative;
  font-size: 10px;

  .menu{
    height: 100%;
    border: solid 1px rgba(0,0,0,0.1);

  }

  .active {
    color: red;
  }

  .tool-header{
    margin: 10px 0;
    .tool-title {
      margin-left: 20px;
      font-size: 14px; 
      font-weight: 600;
    }

  }


  .filter-panel{
    .tool-panel();

    .filterItem{
      margin-top: 20px;
      .label {
        padding: 0 0px;
        height: 30px;
        line-height: 30px;
        .inputNumber{
          float: right;
          width: 50px;
          padding: 0;
          height: 30px;
          line-height: 30px;;

          :global(.ant-input-number-input) {
            height: 20px;
            padding: 0 0 0 3px;
          }

        }    
      }

      .slider{
        margin: 10px 0;
        width: ~"calc( @{tool-width} - 20px)";
      }
  
    }

  }

  .cropper-panel{
    .tool-panel();
    // width: 120px;

    .cropper-param{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: start;


      .cropper-param-label{
        width: 40px;
        margin-right: 3px;
      }

      .cropper-param-value{
        
        width: calc(100% - 45px);
        padding: 0;
        height: 20px;
        line-height: 20px;;

        :global(.ant-input-number-input) {
          height: 20px;
          padding: 0 0 0 3px;
        }
      }

    }

  }

}