

.work-canvas {
  min-width: 600px;
  height: 100%;
  // background-image: linear-gradient(rgba(64,132,246,.3) 1px,transparent 0),linear-gradient(90deg,rgba(64,132,246,.3) 1px,transparent 0);
  // background-size: 5px 5px;
  background: rgba(120,120,120,0.1);
  padding: 20px;
  


  .canvas-zone {
    width: 100%;
    height: 100%;
    padding: 5px;
    overflow: scroll;
    
    

    :global(.canvas-container){
      outline: solid 3px rgba(0,0,0,0.3);
      background: #fff;
      margin: auto auto;
      
    }
  }

}