

.image-editor {
  min-width: 600px;
  min-height: 600px;
  border: solid 1px rgba(0, 0, 0, 0.1);


  .main{
    position: relative;
    width: 100%;
    height: 550px;
  }


  .image-list{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
  }

  .tool-panel{
    position: absolute;
    left: 0;
    top: 0;
  }

  .work-canvas {
    position: absolute;
    left: 120px;
    top: 0;


  }

  


}

